# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.env
.venv/
env/
venv/

# VS Code and other editor configs
.vscode/
*.swp

# Logs and output
*.log
*.sqlite3
*.db

# Jenkins or CI output
jenkins-output/
*.jenkinslog
